<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 71.8 MB/s eta 0:00:00:00:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=8f8e04d57eb556c40bb1d9fcf4d6caa6e64902c3ee0e417540b3d4793a402dbf
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [39]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [16]:
query = "SELECT DISTINCT Launch_Site FROM SPACEXTBL"
cur.execute(query)

# Fetch the results and print the unique launch sites
unique_launch_sites = cur.fetchall()
for site in unique_launch_sites:
    print(site[0])

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40
None


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [20]:
query = "SELECT * FROM SPACEXTBL WHERE Launch_Site LIKE 'CCA%' LIMIT 5"
df_from_db = pd.read_sql_query(query, con)
print(df_from_db)

         Date Time (UTC) Booster_Version  Launch_Site  \
0  06/04/2010   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  12/08/2010   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  22/05/2012    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  10/08/2012    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  03/01/2013   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                0.0
1  Dragon demo flight C1, two CubeSats, barrel of...                0.0
2                              Dragon demo flight C2              525.0
3                                       SpaceX CRS-1              500.0
4                                       SpaceX CRS-2              677.0

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [21]:
query = "SELECT SUM(CAST([PAYLOAD_MASS__KG_] AS FLOAT)) AS Total_Payload_Mass FROM SPACEXTBL WHERE Customer LIKE 'NASA (CRS)%'"
df_from_db = pd.read_sql_query(query, con)


# Display the total payload mass
print("Total Payload Mass carried by boosters launched by NASA (CRS):")
print(df_from_db['Total_Payload_Mass'].values[0])

Total Payload Mass carried by boosters launched by NASA (CRS):
48213.0

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [22]:
query = "SELECT AVG(CAST([PAYLOAD_MASS__KG_] AS FLOAT)) AS Avg_Payload_Mass FROM SPACEXTBL WHERE [Booster_Version] = 'F9 v1.1'"
df_from_db = pd.read_sql_query(query, con)

# Display the average payload mass
print("Average Payload Mass carried by booster version F9 v1.1:")
print(df_from_db['Avg_Payload_Mass'].values[0])

Average Payload Mass carried by booster version F9 v1.1:
2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [23]:
query = "SELECT MIN(Date) AS First_Successful_Landing_Date FROM SPACEXTBL WHERE [Landing_Outcome] = 'Success (ground pad)'"
df_from_db = pd.read_sql_query(query, con)


# Display the date of the first successful landing outcome on ground pad
print("Date of the first successful landing outcome on ground pad:")
print(df_from_db['First_Successful_Landing_Date'].values[0])

Date of the first successful landing outcome on ground pad:
01/08/2018

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [26]:
query = "SELECT [Booster_Version] FROM SPACEXTBL WHERE [Landing_Outcome] = 'Success (drone ship)' AND [PAYLOAD_MASS__KG_] > 4000 AND [PAYLOAD_MASS__KG_] < 6000"
df_from_db = pd.read_sql_query(query, con)

# Display the names of the boosters
print("Names of the boosters with successful landing on drone ship and payload mass between 4000 and 6000 kg:")
print(df_from_db['Booster_Version'].tolist())

Names of the boosters with successful landing on drone ship and payload mass between 4000 and 6000 kg:
['F9 FT B1022', 'F9 FT B1026', 'F9 FT  B1021.2', 'F9 FT  B1031.2']

### Task 7




##### List the total number of successful and failure mission outcomes

In [33]:
query = "select count([Mission_Outcome]) as MISSION_OUTCOME_COUNT,[Launch_Site]  from SPACEXTBL group by [Launch_Site] "
#"SELECT [Landing_Outcome], COUNT(*) AS Total_Outcomes FROM SPACEXTBL GROUP BY [Landing_Outcome]"
df_from_db = pd.read_sql_query(query, con)

# Display the total number of successful and failure mission outcomes
print("Total number of mission outcomes:")
print(df_from_db)

Total number of mission outcomes:
   MISSION_OUTCOME_COUNT   Launch_Site
0                      0          None
1                     26   CCAFS LC-40
2                     34  CCAFS SLC-40
3                     25    KSC LC-39A
4                     16   VAFB SLC-4E

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [34]:
query = """
    SELECT [Booster_Version]
    FROM SPACEXTBL
    WHERE [PAYLOAD_MASS__KG_] = (
        SELECT MAX(CAST([PAYLOAD_MASS__KG_] AS FLOAT))
        FROM SPACEXTBL
    )
"""
df_from_db = pd.read_sql_query(query, con)


# Display the names of the booster_versions with the maximum payload mass
print("Names of the booster_versions with the maximum payload mass:")
print(df_from_db['Booster_Version'].tolist())

Names of the booster_versions with the maximum payload mass:
['F9 B5 B1048.4', 'F9 B5 B1049.4', 'F9 B5 B1051.3', 'F9 B5 B1056.4', 'F9 B5 B1048.5', 'F9 B5 B1051.4', 'F9 B5 B1049.5', 'F9 B5 B1060.2 ', 'F9 B5 B1058.3 ', 'F9 B5 B1051.6', 'F9 B5 B1060.3', 'F9 B5 B1049.7 ']

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [35]:
query = """
    SELECT
        CASE
            WHEN substr(Date, 4, 2) = '01' THEN 'January'
            WHEN substr(Date, 4, 2) = '02' THEN 'February'
            WHEN substr(Date, 4, 2) = '03' THEN 'March'
            WHEN substr(Date, 4, 2) = '04' THEN 'April'
            WHEN substr(Date, 4, 2) = '05' THEN 'May'
            WHEN substr(Date, 4, 2) = '06' THEN 'June'
            WHEN substr(Date, 4, 2) = '07' THEN 'July'
            WHEN substr(Date, 4, 2) = '08' THEN 'August'
            WHEN substr(Date, 4, 2) = '09' THEN 'September'
            WHEN substr(Date, 4, 2) = '10' THEN 'October'
            WHEN substr(Date, 4, 2) = '11' THEN 'November'
            WHEN substr(Date, 4, 2) = '12' THEN 'December'
        END AS Month_Name,
        [Booster_Version],
        [Launch_Site],
        [Landing_Outcome]
    FROM SPACEXTBL
    WHERE substr(Date, 7, 4) = '2015'
    AND [Landing_Outcome] LIKE '%Failure (drone ship)%'
"""
df_from_db = pd.read_sql_query(query, con)
# Display the records for the months in year 2015
print(df_from_db)

  Month_Name Booster_Version  Launch_Site       Landing_Outcome
0    October   F9 v1.1 B1012  CCAFS LC-40  Failure (drone ship)
1      April   F9 v1.1 B1015  CCAFS LC-40  Failure (drone ship)

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [49]:
query = """
    SELECT [Landing_Outcome], COUNT(*) AS Landing_Outcome_Count
    FROM SPACEXTBL
    WHERE Date >= '06/04/2010' AND Date <= '20/03/2017'
    GROUP BY [Landing_Outcome]
    ORDER BY Landing_Outcome_Count DESC
"""
df_from_db = pd.read_sql_query(query, con)


# Display the ranked count of landing outcomes
print(df_from_db)

        Landing_Outcome  Landing_Outcome_Count
0               Success                     19
1            No attempt                      9
2  Success (ground pad)                      5
3  Success (drone ship)                      5
4  Failure (drone ship)                      3
5               Failure                      3
6   Failure (parachute)                      2
7    Controlled (ocean)                      2
8           No attempt                       1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>